<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>xBoxer</title>
  </head>
  <body>
    <div>Hello World!</div>
    <div id="app"></div>
    <script src='./app.js'></script>
  </body>
</html>
